<h1>User info</h1>
<div>
  <%= image_tag @user.get_profilr_image(100, 100) %>
  <h3><%= @user.name %></h3>
  <h3><%= @user.introduction %></h3>
  <p><%= link_to "プロフィール編集", edit_user_path %></p>
</div>

<% @books.each do |book| %>
  <table>
  <tr>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td><%= link_to "Show", "#" %></td>
      <td><%= link_to "Edit", "#" %></td>
      <td><%= link_to "Destroy", "#", method: :delete, "data-confirm" => "Are you sure?" %></td>
    </tr>
  <% end %>
</table>

