<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
   <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
   <% end %>
  </ul>
<% end %>

<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <p>User: <%= book.user.name %></p>
  <p><%= link_to book.title, book_path(book.id) %></p>
  <p>Opinion: <%= book.body %></p>
</div>
<% end %>

<%= render 'books/left', user: @user, book: @book %>